*{
    margin: 0;
    padding: 0;
}
.wrap{

    width: 1000px;
    margin: 50px auto;

}
.wrap .item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.wrap .item .box{
    width: 150px;
    height: 150px;
    background: chartreuse;
    border-radius: 50%;
    margin-left: 15px;
}